<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Just the Tip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74ACBB8A1D109FB200EFCE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74ACBB9E1D109FB300EFCE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74ACBBA91D109FB300EFCE45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
